/* To change the font to an open Google api font, like Oxygen
/*$baseFontFamily: Oxygen;
@import url(http://fonts.googleapis.com/css?family=Oxygen);
*/

/* to make the navbar pure white and very un-bootstrappy
/*
$btnPrimaryBackground: green;
$navbarBackgroundHighlight: white;
$navbarBackground: white;
*/


@import "bootstrap";

@import "bootstrap-responsive";

body {
	padding-top: 60px;
}

/*this gets rid of the drop shadow on the navbar*/
.navbar-inner {
	@include box-shadow(none !important);
	border: 0;
}

.footer{
	margin-top:50px;
	color:$grayLight;
	a {
		color:gray;
	}
}